:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Color variables */
  --main-bg-color: #21222d;
  --primary-color: #2c2c37;
  --secondary-color: #2c2c37;
  --primary-text-color: #cecfd5;
  --secondary-text-color: #697180;
  --purple-color: #645fc5;
  --teal-color: #67dcad;
  --blue-color: #49c2e7;
}

